
#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 376px;
  height: 666px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(250, 250, 250);
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

.container-view {
  height: 100%;
  padding: 20px;
  background-color: rgb(250, 250, 250);
  overflow-x: hidden;
  color: #484848;
  white-space: nowrap;


}

::-webkit-scrollbar {
  display: none;
}

header {
  min-height: 50px;
  display: flex;
  text-align: center;
  z-index: 3;
  background-color: white;
  margin-bottom: 17px;
}

.headersvg {
  display: block;
  z-index: 5;
  height: 100%;
  transform: translate(1px, 17px);
  background-color: white;
  border: 1px solid lightgrey;
  border-top: none;
  border-left: none;
  padding-right: 25px;
  padding-left: 20px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}
